@charset "utf-8";


/*Author: Julian Baker
    Date completed: December 16, 2025
    Required files: FinalExam.html, finalExam.css
    These files comprise my personal index*/

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    color: black;
    font-size: 16pt;
    width: 85%;
    margin: auto;
    background-color: saddlebrown;
}

header h1 {
    font-size: 36pt;
    margin: 35px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
    background-color: peru;
}

header h3{
    font-size: 24pt;
    margin: 0px;
    padding: 0px 0px 15px 15px;
    background-color:peru;
}

h1 {
    font-family: Arial;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
    background-color:darkgoldenrod;
}

h3{
    font-family: Arial;
    font-size: 16pt;
    text-align: left;
    background-color: goldenrod;
}

p {
    margin: 15px;
    padding: 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color:aquamarine
}

div#about{
    float: right;
    width: 75%;
    padding: 15px;
    background-color: lightgoldenrodyellow;
}


table {
    border: none;
    width: 90%;
    margin-left: 30px;
    padding: 2px 5px;
}

th {
    padding: 2px 5px;
    text-align: center;
    font-weight:bold;
    background-color:goldenrod;
}

td {
    padding: 2px 5px;
    text-align: left;
    vertical-align: top;
    
}
header {
    position: relative;
    width:100%;
}

header img#self{
    display:block;
    max-height: 300px;
    max-width: 300px;
    object-fit: contain;
    float: right;
}

nav {
    background-color:peru;
    color: black;
    width: 23%;
    margin: 0px;
    padding: 0px;
    float: left;
    height: 101vh;
}

nav ul {
    list-style-type: none;
}

section {
    background-color:lightgoldenrodyellow;
    width: 75%;
    padding: 15px;
    float: right;
}

footer {
    background-color: lightgoldenrodyellow;
    width: 100%;
    text-align:center;
}